/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target
/logs

# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
.mvn/wrapper/maven-wrapper.jar

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/