<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.KabCategoryDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.KabCategory">
    <id column="catid" jdbcType="INTEGER" property="catid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    catid, title, parentid, type, status, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kab_category
    where catid = #{catid,jdbcType=INTEGER}
  </select>
</mapper>